* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drag-area{
  background: #298ead;
  border: 2px solid black;
  height: 300px;
  width: 600px;
  border-radius: 5px;
  display: flex;
  align-items: center ;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 75%;
  height: 145px;
  background: #4db6ac;
  padding: 20px;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  border: 2px dashed black;
  flex-direction: column;
}



.header header{
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.header span{
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
